*.py linguist-detectable=true
*.py linguist-language=Python

CMakeLists.txt linguist-detectable=true
*.c linguist-language=C
*.h linguist-language=C

scripts/* linguist-documentation=false
scripts/* linguist-detectable=true